<span  *ngFor="let partie of partiecommunesShotguns">
  <h2>Shotguns pour la partie {{ partie.name }}</h2>
 
  <span *ngFor="let shotg of shotguns ">
    
    <span *ngIf="shotg.shotgunPlace.name === partie.name">

      

      <table  border="1">
        <thead>
          <tr>
            <th>Nom </th>
            <th>Date de création</th>
            <th>Date du shotgun</th>
            <th>Famille</th>
            <th>Lieu</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>{{ shotg.name }}</td>
            <td>{{ shotg.shotgunCreationDate | date: "shortDate" }}</td>
            <td>{{ shotg.shotgunDate | date: "shortDate" }}</td>
            <td> {{ shotg.shotgunFamille.nomFamille }} </td>
            <td> {{ shotg.shotgunPlace.name }} ({{
              shotg.shotgunPlace.localisation.name
            }}) </td>
            <td>{{ shotg.shotgunComments }}</td>
            
          </tr>
        </tbody>
      </table>
 
  </span>
   </span>



</span>